@media screen and (min-width:576px) {
  header .hero-img .stat {
    left: -20px;
    bottom: -20px;
  }
}
@media screen and (min-width:768px) {
  header .hero-img .stat {
    left: -30px;
    bottom: -20px;
  }
  .section-head h2 {
  font-size: 3rem;
}
.section-head p {
  font-size: 3rem;
}
.track {
  animation: scroll 20s linear infinite;
}
.track.reverse{
  animation: scroll-back 20s linear infinite;
}

}
@media screen and (min-width:992px) {
  header .hero-img .stat {
    left: -20px;
    bottom: -20px;
  }
  .what-we-do .item .inner h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

}
@media screen and (min-width:1200px) {
  header .hero-img .stat {
    left: -60px;
    bottom: -32px;
  
  }
}
@media screen and (min-width:1400px) {
   
}
